<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout">
<head>
    <title>Parkovani v praze</title>
</head>
<body>

<div layout:fragment="content" class="container">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Parkovani v praze</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h1>Parkovani v Praze</h1>

                <p>V mape vyberte, pred kterym Automatem se prave nachazite</p>

                <div class="row">
                    <div class="col-md-6">

                        <div class="progress">
                            <div id="progress" class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">Loading</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <select class="form-control" id="count">
                                    <option value="10" selected="selected">10 routes</option>
                                    <option value="15">15 routes</option>
                                    <option value="20">20 routes</option>
                                </select>
                            </div>
                            <div class="col-sm-10">
                                <select class="form-control" id="orderType">
                                    <option value="DISTANCE" selected="selected">by distance</option>
                                    <option value="TIME">by time</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="output" class="alert alert-success" role="alert"
                 style="max-height: 180px; overflow-y: scroll;"></div>
        </div>
    </div>


    <div id="map" class="map">
        <div id="info"></div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container">
            <img src="logojpower8.png"/>
        </div>
    </nav>
</div>
</body>
</html>