<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parkovani v praze</title>

    <link rel="stylesheet" th:href="@{/bootstrap-3.3.4/css/bootstrap.css}"
          href="../static/bootstrap-3.3.4/css/bootstrap.css"/>

    <script th:src="@{/js/jquery-2.1.4.js}" src="../static/js/jquery-2.1.4.js"></script>
    <script th:src="@{/bootstrap-3.3.4/js/bootstrap.js}" src="../static/bootstrap-3.3.4/js/bootstrap.js"></script>
    <script th:inline="javascript">
        var contextRoot = /*[[@{/}]]*/ '/';
    </script>
    <script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.6.0/css/ol.css" type="text/css"/>
    <style>
        .map {
            height: 100%;
            width: 100%;
        }

        #info {
            position: absolute;
            height: 1px;
            width: 1px;
            z-index: 100;
        }

        .tooltip.in {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .tooltip.top .tooltip-arrow {
            border-top-color: white;
        }

        .tooltip-inner {
            border: 2px solid white;
        }
    </style>
    <script src="http://openlayers.org/en/v3.6.0/build/ol-debug.js" type="text/javascript"></script>
    <script src="http://momentjs.com/downloads/moment.js" type="text/javascript"></script>
</head>
<body>

<div layout:fragment="content">
    Fake content
</div>

</body>
</html>